<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    <script src="../static/scripts/usercheck.js"></script>
    <script src="../static/scripts/dashboard.js"></script>
    <script src="../static/scripts/notifications.js"></script>
    <title>Dashboard</title>
</head>
<body class="bg-dark text-white">
    <div class="container" id="container">
        <div class="navbar">
            <div id="title">Laro™</div>
            <div id="nav-icons">
                <a href=""><img src="../static/img/home.png" alt=""></a>
                <a href="#" id="openGameModal"><img src="../static/img/bell.png"></a>
                <a href=""><img src="../static/img/profile.png" alt=""></a>
            </div>
        </div>
        <div id="sport-section">
            <div class="row">
                <p>Basketball</p>
                <button>Change Sport</button>
            </div>
            <div class="row">
                <img src="../static/img/basketball.jpg" alt="">
            </div>
        </div>
        <div id="quick-join-section">
            <p>Quick Join</p>
            <button>Find Game</button>
        </div>
        <div id="upcoming-games-section">
            <button>Your upcoming games</button>
        </div>
        <div id="nearby-courts-section">
            <img src="../static/img/palumco.jpg" alt="">
            <p id="location-name">Brgy. Palumco</p>
            <p>Nearby Courts</p>
        </div>

    </div>

    
</body>
</html>