<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    <link rel="stylesheet" href="../static/styles/profile.css">
    <link rel="stylesheet" href="../static/styles/historyformat.css">
    <script src="../static/scripts/myprofile.js"></script>
</head>
<body>
    <div class="containerProfile">
        <button class="btn" onclick="window.location.replace('dashboard.html')"><i class="bi bi-arrow-left"></i></button>
        <h3>MY PROFILE</h3>
    </div>

    <div class="containerUser">
        <img src="../static/img/Jhonny.jpg" alt="Description of the image">

            <div class="userDetails">
                <h4>Jhonny Mahinay</h4>
                <p>"Jhonny is my name, Basketball is my game"</p>
            </div>
                <div class="editprofile">
                    <div class="iconFollow">
                        <span>EDIT PROFILE </span><i class="fa-solid fa-user"></i>
                    </div>
            </div>
    </div>

    <div class="userStats">
        <div class="userRole">
            <p>PREFERED POSITION</p>
            <div class="containerRole">
                <h2>POINT GUARD</h2>
                <div class="skillLevel">
                    <p>SKILL LEVEL:</p>

                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>

        </div>

        <div class="userInfo">
            <h2>PLAYER PROFILE</h2>

            <div class="containerInfo">
                <div class="age">
                    <p>AGE</p>
                    <hr>
                    <p>36</p>
                </div>

                <div class="weight">
                    <p>WEIGHT</p>
                    <hr>
                    <p>45</p>
                </div>

                <div class="height">
                    <p>HEIGHT</p>
                    <hr>
                    <p>5'11</p>
                </div>

            </div>

        </div>

    </div>

    <div class="userHistory">
        <h4>HISTORY</h4>
        <div class="containerHistory" id="containerHistory">
          <div class="mostRecent">
            <p>MOST RECENT</p>
            <i class="fas fa-angle-up"></i>
          </div>

          <!-- Initial items to be replaced -->
          <!-- They will be generated dynamically -->
        </div>
      </div>
    
    <script src="../static/scripts/history.js"></script>
    
</body>
</html>
