<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/profile.css">
    <script src="../static/scripts/usercheck.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>My Profile</title>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="background-text2">LARO</div>
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">LARO</a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search Laro">
        </div>
        <ul class="nav-links">
            <li><a href="booking.html">BOOKING</a></li>
            <li><a href="notifications.html">NOTIFICATIONS</a></li>
            <li><a href="profile.html" class="active">PROFILE</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="myprofile">
        <div class="profile-card">
            <div class="left-panel">
                <div class="icon-row">
                    <img src="../static/img/kai-sotto.jpg" id="profile-icon" alt="profile-icon">
                </div>
                <div class="name-row">
                    <p id="full-name">Kai Sutto</p>
                    <p id="username">@GinulayAngMunggo</p>
                </div>
                
                <div class="bio-row">
                    <p>Basketball is my game.</p>
                </div>
                <div class="hr"></div>
                <div class="stat-row">
                    <ul>
                        <li>AGE - 21</li>
                        <li>HEIGHT - 5'11"</li>
                        <li>WEIGHT - 90 kg</li>
                        <li>GENDER - MALE</li>
                    </ul>
                </div>
                

            </div>
            <div class="right-panel">
                <div class="followers-row">
                    <div class="follow-col">
                        <p class="count">20</p>
                        <p>followers</p>
                    </div>
                    <div class="follow-col">
                        <p class="count">14</p>
                        <p>following</p>
                    </div>
                </div>
                <div class="edit-row">
                    <button class="edit-btn">EDIT PROFILE</button>
                </div>
                <div class="sport-chart">
                    <canvas id="donutChart"></canvas>
                </div>
                <div class="sport-row">
                    <p>BASKETBALL</p>
                </div>
                <div class="position-row">
                    <p>POINT GUARD</p>
                </div>
            </div>
            
        </div>
        <div class="game-history">
            <p>HISTORY</p>
            <div class="history-list">
                <p>MOST RECENT</p>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="../static/scripts/profile.js"></script>
    <script src="../static/scripts/donutChart.js"></script>
</body>
</html>