<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit My Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="containerProfile">
        <i class="bi bi-arrow-left"></i>
        <h3>EDIT MY PROFILE</h3>
    </div>

    <div class="containerUser">
        <img src="Jhonny.jpg" alt="Description of the image">

            <div class="userDetails">
                <h4 contenteditable="true">Jhonny Mahinay</h4>
                <p contenteditable="true">"Jhonny is my name, Basketball is my game"</p>

                
            </div>
                <div class="editprofile">
                    <div class="iconFollow">
                        <span>SAVE CHANGES</span>
                    </div>
            </div>
    </div>

    <div class="userStats">
        <div class="userRole">
            <p>PREFERED POSITION</p>
            <div class="containerRole">
                <h2>POINT GUARD</h2>
                <div class="skillLevel">
                    <p>SKILL LEVEL:</p>

                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>

        </div>

        <div class="userInfo">
            <h2>PLAYER PROFILE</h2>

            <div class="containerInfo">
                <div class="age">
                    <p>AGE</p>
                    <hr>
                    <p contenteditable="true">36</p><i class="fa-solid fa-pen" style="color: #FFD43B;"></i>
                </div>

                <div class="weight">
                    <p>WEIGHT</p>
                    <hr>
                    <p contenteditable="true">45</p><i class="fa-solid fa-pen" style="color: #FFD43B;"></i>
                </div>

                <div class="height">
                    <p>HEIGHT</p>
                    <hr>
                    <p contenteditable="true">5'11</p><i class="fa-solid fa-pen" style="color: #FFD43B;"></i>
                </div>
            </div>

        </div>

    </div>

    <div class="userHistory">
        <h4>HISTORY</h4>
        <div class="containerHistory">
            <div class="mostRecent">
                <p>MOST RECENT</p>
                <i class="fas fa-angle-up"></i>
            </div>
            
            <div class="highligthHistory">

            </div>

            <div class="itemHistory">

            </div>

            <div class="itemHistory">

            </div>

            <div class="itemHistory">

            </div>

            <div class="itemHistory">

            </div>

            <div class="itemHistory">

            </div>

        </div>
    </div>
    
</body>
</html>
