@font-face {
    font-family: 'AmericanCaptain';
    src: url('fonts/AmericanCaptain.ttf') format('woff2')
  }


body {
    background-color: #FFC925;
}

.container {
    width: 92%;
    height: 92%;
    padding: 4%;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #fada39;
    border-radius: 20px;
}

.navbar #title {
    width: auto;
    height: fit-content;
    font-size: 25px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}

.navbar #nav-icons {
    width: 100%;
    align-content: center;
    text-align: right;
}

.navbar img {
    width: 1.5rem;
    margin-right: 20px;
}

#sport-section {
    padding-left: 10%;
    padding-right: 10%;
}

#sport-section img{
    width: 100%;
    max-height: 70px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

#quick-join-section {
    padding-left: 10%;
    padding-right: 10%;
}

#quick-join-section p{
    color: white;
}


#quick-join-section button{
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(213, 79, 79);
    font-family: AmericanCaptain;
    font-size: 30px;
    max-width: 50%;
    border-radius: 20px;
}

#upcoming-games-section {
    padding-left: 10%;
    padding-right: 10%;
}

#upcoming-games-section button{
    margin-bottom: 10px;
    padding: 10px;
    font-family: AmericanCaptain;
    max-width: 50%;
    font-size: 20px;
    border-radius: 20px;
}

#nearby-courts-section {
    padding-left: 10%;
    padding-right: 10%;
}

#nearby-courts-section img{
    width: 100%;
    max-height: 200px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

#nearby-courts-section p{
    color: white;
}

#nearby-courts-section button{
    background-color: #fada39;
    font-family: AmericanCaptain;
}

#sport-section .row{
   display: flex;
   flex-direction: row;
}

#sport-section p{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    padding: auto;
 }

 #sport-section button{
    border: none;
    background-color: transparent;
    color: white;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
 }